include ../mixins/flash-messages
include ../mixins/auth/auth-forms

doctype html
html

	//- HTML HEADER
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")

		title= title || 'Reddit Racing'
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

		//- Customise the stylesheet for your site by editing /public/styles/site.sass
		link(href="/styles/site.css", rel="stylesheet")
		link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css", rel="stylesheet")

		//- This file provides the default styling for the KeystoneJS Content Editor
		if user && user.canAccessKeystone
			link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

		//- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8
		//-[if lt IE 9]
			script(src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js")
			script(src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js")
		//-[endif]

		//- Include template-specific stylesheets by extending the css block
		block css

		//- Add any other template-specific HEAD tags by extending the head block
		block head

	//- HTML BODY
	body

		
		#wrapper
			
			//- HEADER
			//- Customise your site's navigation by changing the navLinks Array in ./routes/middleware.js
			//- ... or completely change this header to suit your design.

			nav(role="navigation").navbar.navbar-dark.navbar-fixed-top
				.container-fluid
					.navbar-header
						button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href='/') Reddit Racing
					.collapse.navbar-collapse.navbar-right
						ul.nav.navbar-nav
							each link in navLinks
								li(class=(section == link.key ? 'active' : null)): a(href=link.href)= link.label
						ul.nav.navbar-nav
							if user
								li.dropdown
									a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
										i.fa.fa-user.fa-fw
										| #{ locals.user.username }
										i.fa.fa-caret-down.fa-fw
									ul.dropdown-menu
										li: a(href="/profile") My Profile
										if user.canAccessKeystone
											li: a(href='/keystone') Admin Panel
										li: a(href="/signout") Sign Out
							else
								li: a(href='/signin') Sign In
								li: a(href='/join') Register
			div.navbar-default.sidebar
				div.sidebar-nav.navbar-collapse
					ul#side-menu.nav
						each link in sidebarNavLinks
							li(class=(section == link.key ? 'active' : null))
								a(href=link.href)
									i.fa.fa-fw(class=link.icon)
									| #{ link.label }

			//- BODY
			#page-wrapper
				block flash-messages

				.container-fluid
					//- The Intro block appears above flash messages (used for temporary information display)
					block intro

					//- The content block should contain the body of your template's content
					block content


				//- FOOTER
				.container-fluid: #footer


		//- JAVASCRIPT

		//- jQuery 1.11.3 is included by default, and required by both Bootstrap
		//- and the KeystoneJS Content Editor. If you are not targeting IE8,
		//- you can upgrade to 2.1.4 (also bundled) for better performance.
		script(src='/js/jquery/jquery-1.11.3.min.js')

		//- Customise which Bootstrap javascript files are served by including
		//- them specifically here, instead of bootstrap-3.3.5.min.js
		script(src='/js/bootstrap/bootstrap-3.3.5.min.js')
		script(src='/js/sb-admin-2/flot-data.js')
		script(src='/js/sb-admin-2/morris-data.js')

		//- The KeystoneJS Content Editor provides support for ks-editable data attributes,
		//- which generate links to edit content for users who can access Keystone
		if user && user.canAccessKeystone
			script(src='/keystone/js/content/editor.js')

		//- Add scripts that are globally required by your site here.

		//- Include template-specific javascript files by extending the js block
		block js
